<article>
    <div class="bg-dark d-flex justify-content-between px-3">
        <a href="/post/{{id}}">
            <h2 class="text-info">{{title}}</h2>
        </a>
        <p class="post-date text-info">Posted by {{user.username}} on {{created_at}}</p>
    </div>
    <p class="border border-dark px-3 py-2 text-dark">{{contents}}</p>
</article>